[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "dscam"]
	path = dscam
	url = git@github.com:wpfhtl/double_sphere.git
